@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  background-image: url("/images/background_hagiang.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
