@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #fff;
  color: #222;
  box-sizing: border-box;
}
